{
    "spreadsheet_id": "YOUR_SPREADSHEET_ID_HERE",
    "spreadsheet_name": "LinkedIn Jobs",
    "sheet_name": "Jobs",
    "column_mapping": {
        "job_id": "id",
        "job_link": "link",
        "job_title": "title",
        "companyName": "companyName",
        "companyLinkedinUrl": "companyLinkedinUrl",
        "location": "location",
        "salaryInfo": "salaryInfo",
        "postedAt": "postedAt",
        "applicantsCount": "applicantsCount",
        "applyUrl_job": "applyUrl",
        "salary": "salary",
        "descriptionText": "descriptionText",
        "seniorityLevel": "seniorityLevel",
        "employmentType": "employmentType",
        "jobFunction": "jobFunction",
        "companyAddress": "companyAddress",
        "companyDescription": "companyDescription",
        "companyWebsite": "companyWebsite",
        "Profile_Indicators": "ai_analysis.Profile_Indicators",
        "Weighted_Score_Breakdown": "ai_analysis.Weighted_Score_Breakdown",
        "Reason_Summary": "ai_analysis.Reason_Summary",
        "AI_Scoring_System": "ai_analysis.AI_Scoring_System",
        "Dream_ Job": "is_dream_job",
        "Score Of Dream Job": "score",
        "Resu_": "ai_resume",
        "Cover_Letter": "ai_cover_letter"
    }
}
